table thead th{
	color:#ffffff;
	background-color: #3C3C3C;
}
.paging-total{
	float: left;
}
.paging-total b{
	color:#0080FF;
}


.required{
	color: red;
	font-size: 20px;
	font-weight: bold;
	position: relative;
	top: 6px;
	right: 10px;
}